.images-container {
  position: relative;
  width: 630px; /* Set to your desired width */
  height: 400px; /* Set to your desired height, maintaining aspect ratio */
  overflow: hidden;
}

.before-image,
.after-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.after-image {
  clip: rect(0, 0, auto, auto);
}

.slider-line {
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: #ffffff;
  cursor: ew-resize;
  left: 50%;
  top: 0;
}
